p{
    font-family: "Quicksand",sans-serif;
}

.beige {
    background-color: #f2dcdb;
}
.violet{
    background-color: #ccc1d9;
}
.bleu{
    background-color: #b7dde8;
}
.vert{
    background-color: #d7e3bc;
}

.about-footer{
    margin-top: 249px;
}

.ours{
    width: 300px;
   position: absolute;
   bottom: 63px;
}
