.link{
    text-decoration: none;
    color: inherit;
    &:hover{
        text-decoration: none;
        color: inherit;
    }
}

body{
    cursor:url('../images/cerisier.png') pointer;
}

.color{
    color: black;
}

