
    li{
        list-style: none;
        font-size: 30px;
        
    }


.carte{
    height: 280px;
    background: rgb(238,174,202);
    background: linear-gradient(137deg, rgba(238,174,202,1) 0%, rgba(148,233,231,1) 100%);
    box-shadow : 0px 5px 23px 7px rgba(0,0,0,0.74);
    -webkit-box-shadow : 0px 5px 23px 7px rgba(0,0,0,0.74);
    -moz-box-shadow : 0px 5px 23px 7px rgba(0,0,0,0.74);
    transition: all 250ms ease-in;
    &:hover{
        transform: scale(1.085);
    }
}
.titre-carte{
    font-family: "Indie Flower";
    font-size: 55px;
    color: #C976FF;
}

.liens{
    text-decoration: none;
}