
    li{
        list-style: none;
        font-size: 30px;
        
    }


.carte{
    height: 280px;
    background: rgb(150,90,231);
    background: linear-gradient(138deg, rgba(150,90,231,1) 26%, rgba(252,70,202,0.9489559164733179) 100%);
}
.titre-carte{
    font-family: "Indie Flower";
    font-size: 55px;
    
}