footer{
    height: 80px;
    
    background-color: pink;
}
.test{
    margin-top: 50px;
}
.test-about{
    margin-top: 54px;
}
.footer-format{
    margin-top: 80px;
}



// MOBILE
@media (min-width: 320px) and (max-width: 480px){
    .test{
        margin-top: 0px;
    }
    .footer-format{
        margin-top: 84px;
    }
}