footer{
    height: 80px;
    
    background-color: pink;
}
.test{
    margin-top: 19px;
}

// MOBILE
@media (min-width: 320px) and (max-width: 480px){
    .test{
        margin-top: 16px !important;
    }
}