.titre{
    font-family: 'Sacramento' !important;
    font-size: 80px;
}

.icon{
    gap: 40px;
    font-size: 60px;
    justify-content: end;
}

.fab{
    color: #DCB9FA;
    transition: all 350ms ease-in;
    &:hover{
        transform: scale(1.09);
    }
}

// MOBILE

@media (min-width: 320px) and (max-width: 480px){
    .titre{
        font-size: 70px;
    }
    .icon{
        margin-bottom: -50px;
        font-size: 35px;
        
    }
    .header-flex{
        flex-direction: column;
    }
}

@media(min-width:375px){
    .titre{
        font-size: 63px;
    }
}
@media(min-width:320px){
    .titre{
        font-size: 53px;
    }
}