.price-color{
    color: pink;
    font-size: 32px;
    font-family: 'Fredoka One', sans-serif;
}

.titre-price{
    font-family: "Fredoka One", sans-serif;
    color: black;
    letter-spacing: 2px;
    
}


