.titre {
  font-family: "Sacramento" !important;
  font-size: 80px;
}

.icon {
  gap: 40px;
  font-size: 60px;
  justify-content: end;
}

.fab {
  color: #DCB9FA;
  transition: all 350ms ease-in;
}
.fab:hover {
  transform: scale(1.09);
}

@media (min-width: 320px) and (max-width: 480px) {
  .titre {
    font-size: 70px;
  }

  .icon {
    margin-bottom: -15px;
    font-size: 35px;
  }

  .header-flex {
    flex-direction: column;
  }
}
@media (min-width: 375px) {
  .titre {
    font-size: 63px;
  }
}
@media (min-width: 320px) {
  .titre {
    font-size: 53px;
  }
}
li {
  list-style: none;
  font-size: 30px;
}

.carte {
  height: 280px;
  background: #eeaeca;
  background: linear-gradient(137deg, #eeaeca 0%, #94e9e7 100%);
  box-shadow: 0px 1px 30px -1px rgba(247, 189, 246, 0.74);
  -webkit-box-shadow: 0px 1px 30px -1px rgba(247, 189, 246, 0.74);
  -moz-box-shadow: 0px 1px 30px -1px rgba(247, 189, 246, 0.74);
  transition: all 250ms ease-in;
}
.carte:hover {
  transform: scale(1.085);
}

.titre-carte {
  font-family: "Indie Flower";
  font-size: 55px;
  color: #C976FF;
}

.liens {
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: inherit;
}
.link:hover {
  text-decoration: none;
  color: inherit;
}

.color {
  color: black;
}

.area {
  resize: none;
  height: 250px;
}

.button {
  background-color: inherit;
  border: none;
  height: 40px;
  transition: all 250ms ease-in;
}
.button:hover {
  border-radius: 12%;
  transform: scale(1.095);
  background: #eeaeca;
  background: linear-gradient(137deg, #eeaeca 0%, #94e9e7 100%);
}

@media (min-width: 320px) and (max-width: 480px) {
  .button {
    background: #eeaeca;
    background: linear-gradient(137deg, #eeaeca 0%, #94e9e7 100%);
    border-radius: 12%;
  }
}
.arrow {
  color: #E44FFE;
  font-size: 45px;
}

.carousel-fix {
  margin-top: 65px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .carousel-fix {
    margin-top: 190px;
    height: 351px;
  }
}
footer {
  height: 80px;
  background-color: pink;
}

.test {
  margin-top: 19px;
}

.test-about {
  margin-top: 54px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .test {
    margin-top: 0px;
  }
}
p {
  font-family: "Quicksand", sans-serif;
}

.beige {
  background-color: #f2dcdb;
}

.violet {
  background-color: #ccc1d9;
}

.bleu {
  background-color: #b7dde8;
}

.vert {
  background-color: #d7e3bc;
}

.about-footer {
  margin-top: 249px;
}

.ours {
  width: 300px;
  position: absolute;
  bottom: 63px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .about-footer {
    margin-top: 100px;
  }
}
.price-color {
  color: pink;
  font-size: 32px;
  font-family: "Fredoka One", sans-serif;
}

.titre-price {
  font-family: "Fredoka One", sans-serif;
  color: black;
  letter-spacing: 2px;
}

/* Style the Image Used to Trigger the Modal */
.myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.myImg:hover {
  opacity: 0.9;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1200px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .mobile-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
